<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%= `${user.name}'s Profile` %></h1>

      <div>
          <p><%= `Currently, you are a ${user.role} user.`%></p>
      </div>
      <div>
          <p class="upgrade">Upgrade</p>
          <% if(currentUser.role === 'premium') { %>
            <div>
                <form style="display:initial" action="/users/<%= currentUser.id %>/downgrade" method="post">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('You will lose your premium membership, and your wikis will become public! Still want to downgrade?')">Downgrade</button>
                </form>
            </div>
        <% } %>
      </div>

      <div>
          <% if (currentUser.role === "standard") { %> 
            <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
                <button type="submit" class="btn btn-primary">Update to Premium Membership</button>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_3qsvchieID6iBgXIBFaIm5mW"
                  data-amount="999"
                  data-name="Premium Account Charge"
                  data-description="Charge for upgrading account to premium"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto">
                </script>
              </form>
            <% } %>
      </div>
      
        
        
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>